@model ItemsFormVM


@section Header {
      create
}
<div class="col-md-12">

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Create Building</h3>
        </div>


        <form asp-controller="Item" asp-action="create" enctype="multipart/form-data">
            <div class="card-body">
               
                
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control-file">
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control-file textarea" style="resize:none">
                </div>
                <div class="form-group">
                    <label asp-for="BuildingId">select building</label>
                    <select asp-for="BuildingId" class="form-control-file" asp-items="@(new SelectList(Model.Buildings,"Id","DetailsBuilding"))"></select>
                </div> 
              
            </div>

            <div class="card-footer ">
                <button type="submit" class="btn btn-success">Create</button>
                <a asp-controller="building" asp-action="index" class="btn btn-primary">Return to Home</a>
            </div>
        </form>
    </div>
</div>
@section script{
    <script src="https://cdn.tiny.cloud/1/671fkpin3b88qxo7aralabun6jxieciyqdbfbs78mtam7nq7/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
        tinymce.init({
            selector: '.textarea',
            plugins: [
                // Core editing features
                'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
                // Your account includes a free trial of TinyMCE premium features
                // Try the most popular premium features until Nov 14, 2024:
                'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown',
                // Early access to document converters
                'importword', 'exportword', 'exportpdf'
            ],
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
            exportpdf_converter_options: { 'format': 'Letter', 'margin_top': '1in', 'margin_right': '1in', 'margin_bottom': '1in', 'margin_left': '1in' },
            exportword_converter_options: { 'document': { 'size': 'Letter' } },
            importword_converter_options: { 'formatting': { 'styles': 'inline', 'resets': 'inline', 'defaults': 'inline', } },
        });
    </script>
}