@model ItemsFormVM


@section Header {
      create
}
<div class="col-md-12">

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Create Building</h3>
        </div>


        <form asp-controller="Item" asp-action="create" enctype="multipart/form-data">
            <div class="card-body">
               
                
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control-file">
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control-file">
                </div>
                <div class="form-group">
                    <label asp-for="BuildingId">select building</label>
                    <select asp-for="BuildingId" class="form-control-file" asp-items="@(new SelectList(Model.Buildings,"Id","DetailsBuilding"))"></select>
                </div> 
              
            </div>

            <div class="card-footer ">
                <button type="submit" class="btn btn-success">Create</button>
                <a asp-controller="building" asp-action="index" class="btn btn-primary">Return to Home</a>
            </div>
        </form>
    </div>
</div>
